*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body */
body{
    font-family: Arial;
    padding: 20px;
}

@media (min-width:768px) {
    .container{
        display: flex;
        gap: 20px;
    }
    
}

@media (min-width:1024px) {
    .container{
        max-width: 1200px;
        margin: auto;
    }
}

/* container  */
/* .container{

} */

.card{
    border: 1px solid greenyellow;
    margin-bottom: 20px;
    padding: 15px;
}

.card img{
    /* border: 10px solid yellow;
    margin-bottom: 20px;
    padding: 15px; */
    width: 300px;
    height: 300px;
}